<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>Components</title>
</head>
<body>

<div class="colora"></div>
<div class="colorb"></div>

    <h1 class="h">Web Design Components</h1>
    
    <section class="cc">
    <div class="container">
  
  <div class="card"  onclick="location.href='material.html';"    data-tilt data-tilt-glare="true"
  data-tilt-max-glare="0.5"
  data-tilt-speed="400">
    <div class="content">
    <h2>Material</h2>
    <h3>Material</h3>
    <a href="material.html">View</a>
    </div></div>
      <div class="card" data-tilt  data-tilt data-tilt-glare="true"
      data-tilt-max-glare="0.5"
      data-tilt-speed="400">
    <div class="content">
    <h3>Glass</h3>
    <h2>Glass</h2>
    <a href="...">Comming Soon</a>

    </div></div>
      <div class="card" data-tilt  data-tilt data-tilt-glare="true"
      data-tilt-max-glare="0.5"
      data-tilt-speed="400">
    <div class="content">
    <h3>?</h3>
    <h2>?</h2>
    </div></div>
  </div>
  </section>
  <div class="lm" >
      <a class="tlm" data-tilt data-tilt-glare data-tilt-max-glare="0.5">Learn More &#8594</a>
  </div>
  <div class="cursor"></div>

  <script type="text/javascript" src="vanilla-tilt.js"></script>
  <script>
    const cursor = document.querySelector('.cursor');

window.addEventListener('mousemove', e => {
    cursor.style.left = e.pageX + 'px';
    cursor.style.top = e.pageY + 'px';
    cursor.setAttribute('data-fromTop', (cursor.offsetTop - scrollY))});

window.addEventListener('scroll', () => {
    const fromTop = parseInt(cursor.getAttribute('data-fromTop'));
    cursor.style.top = scrollY + fromTop +'px';
    console.log(fromTop);
})
</script>
  </body>
</html>