<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="mstyles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <meta name="theme-color" content="#018dff">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="Images/Favicon.png" />
        <script src="https://kit.fontawesome.com/de5606417f.js" crossorigin="anonymous"></script>
        <title>Components-Material</title>
</head>
<body>
    <header>
        <a class="logo" href="#">Components - Material </a>
        <p class="menu"><i class="fas fa-bars"></i></p>
    </header>



    <div class="head">
            <h1 class="text">Hey,</br>I am D Singh</h1>
        <img src="Images/Room2.png" class="room">
    </div>
    <div class="overlay">
        <a class="close"><i class="fas fa-times"></i></a>
        <div class="overlay__content">
            <a href="#">Link 1 <i class="fas fa-external-link-alt"></i></a>
            <a href="#">Link 2 <i class="fas fa-external-link-alt"></i></a>
            <a href="#">Link 3 <i class="fas fa-external-link-alt"></i></a>
            <p class="meaw">Meaw</p>
        </div>
    </div>


    <h1 class="h">Heading</h1>
    <p class="dt">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi nullam vehicula ipsum a arcu cursus vitae congue mauris. Magna fermentum iaculis eu non diam phasellus. Elit ut aliquam purus sit amet luctus venenatis lectus magna. Amet consectetur adipiscing elit ut aliquam purus sit amet. Luctus accumsan tortor posuere ac ut consequat. Eu volutpat odio facilisis mauris sit. Ut venenatis tellus in metus vulputate eu scelerisque. Volutpat sed cras ornare arcu dui vivamus arcu. Sit amet volutpat consequat mauris nunc congue nisi. Nunc sed id semper risus in. Tincidunt praesent semper feugiat nibh sed pulvinar proin gravida. Pellentesque elit eget gravida cum sociis natoque penatibus et magnis. Potenti nullam ac tortor vitae purus. In pellentesque massa placerat duis ultricies lacus sed.</br></br>

        Morbi tristique senectus et netus et malesuada fames ac turpis. Accumsan sit amet nulla facilisi morbi tempus iaculis urna id. Id donec ultrices tincidunt arcu non sodales neque. Leo integer malesuada nunc vel risus commodo. Nisl tincidunt eget nullam non nisi est sit amet facilisis. Arcu vitae elementum curabitur vitae nunc sed velit. Quam vulputate dignissim suspendisse in est ante in. Nisi scelerisque eu ultrices vitae auctor eu augue ut. Nisi est sit amet facilisis magna etiam tempor. Dictumst vestibulum rhoncus est pellentesque. Consequat ac felis donec et. At volutpat diam ut venenatis tellus in metus. Eu augue ut lectus arcu bibendum at varius. Mattis nunc sed blandit libero volutpat sed. A iaculis at erat pellentesque. Cras sed felis eget velit aliquet sagittis id consectetur. Vel risus commodo viverra maecenas accumsan.</br></br>
        
        Tempus quam pellentesque nec nam aliquam sem et tortor consequat. Nisi scelerisque eu ultrices vitae auctor eu augue. Netus et malesuada fames ac turpis. Aliquam vestibulum morbi blandit cursus risus. Nulla facilisi cras fermentum odio. Vel elit scelerisque mauris pellentesque pulvinar. Sed viverra ipsum nunc aliquet bibendum enim. Ut tellus elementum sagittis vitae et. In hac habitasse platea dictumst quisque sagittis purus. Massa massa ultricies mi quis. Eleifend donec pretium vulputate sapien nec sagittis aliquam malesuada. Ac turpis egestas integer eget aliquet nibh praesent. Ornare arcu odio ut sem nulla. Integer enim neque volutpat ac tincidunt vitae semper. Aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc. Turpis egestas pretium aenean pharetra magna.</br></br></p>

    <div class="container">
        <a class="b hover-this" href="#">Button</a>
        <a class="ab hover-this" href="#">It's a Link</a>
    </div>

    <h1 class="h">One more Heading</h1>

    <p class="dt">Non arcu risus quis varius quam. Tristique senectus et netus et. In ornare quam viverra orci sagittis eu volutpat. Ullamcorper a lacus vestibulum sed arcu non odio. Non sodales neque sodales ut etiam sit amet. Eu tincidunt tortor aliquam nulla. Lacus suspendisse faucibus interdum posuere lorem ipsum. Vitae suscipit tellus mauris a diam maecenas sed. Magna etiam tempor orci eu lobortis elementum nibh tellus molestie. Ut pharetra sit amet aliquam id diam maecenas ultricies. Quam nulla porttitor massa id neque aliquam vestibulum morbi blandit. Sed pulvinar proin gravida hendrerit lectus a. Nulla facilisi cras fermentum odio eu feugiat pretium.

        Semper viverra nam libero justo laoreet. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Turpis in eu mi bibendum neque egestas congue quisque. Mi sit amet mauris commodo quis imperdiet. Tincidunt vitae semper quis lectus nulla. Vel eros donec ac odio tempor orci dapibus. Elementum integer enim neque volutpat ac. Laoreet non curabitur gravida arcu ac tortor dignissim convallis. Cum sociis natoque penatibus et magnis. Libero justo laoreet sit amet cursus sit amet dictum. Ipsum dolor sit amet consectetur adipiscing elit. Ac turpis egestas sed tempus urna et. Quam quisque id diam vel. Metus dictum at tempor commodo ullamcorper a lacus vestibulum. Egestas tellus rutrum tellus pellentesque eu.</br></br>
        
        Vitae proin sagittis nisl rhoncus mattis. Risus commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Etiam dignissim diam quis enim lobortis scelerisque fermentum dui. Elementum sagittis vitae et leo duis ut diam. Vitae justo eget magna fermentum iaculis eu. Auctor elit sed vulputate mi sit amet mauris commodo. Neque viverra justo nec ultrices dui sapien eget. A condimentum vitae sapien pellentesque habitant morbi tristique. Fames ac turpis egestas integer eget aliquet nibh. Ut sem nulla pharetra diam. Neque ornare aenean euismod elementum. Rutrum quisque non tellus orci. Hendrerit gravida rutrum quisque non. At in tellus integer feugiat. Sed risus ultricies tristique nulla. Volutpat diam ut venenatis tellus in metus vulputate eu scelerisque. Pulvinar sapien et ligula ullamcorper malesuada proin libero nunc.</p>
    <div class="foot">
        <p class="foot">D Singh Studios a small initiative</br> <i>-D Singh</i></p>
    </div>

    <div class="footer">
        <p class="cor">&#169 Your Company Name</p>
        <h5 class="con">Contect</h5>
        <div class="contect">
        <p class="cno">+XX XXXXXXXXXX</p>
        <p class="cem">email@domain.com</p>
        </div>
    </div>
    <div class="cursor"></div>
    <script type="text/javascript" src="mobile.js"></script>
    <script>
        const cursor = document.querySelector('.cursor');

    window.addEventListener('mousemove', e => {
        cursor.style.left = e.pageX + 'px';
        cursor.style.top = e.pageY + 'px';
        cursor.setAttribute('data-fromTop', (cursor.offsetTop - scrollY))});
 
    window.addEventListener('scroll', () => {
        const fromTop = parseInt(cursor.getAttribute('data-fromTop'));
        cursor.style.top = scrollY + fromTop +'px';
        console.log(fromTop);
    })
    </script>
</body>
</html>
